<div class="content-wrapper">
  <video loop autoplay muted>
    <source src="./assets/test-video.mp4" type="video/mp4">
    Your browser does not support the video tag
  </video>

  <hr>
  <section>
    <h4> Cookie Test </h4>
    <ng-container *ngIf="cookieSaved; else notSavedContent">
      <p style="color: green;">
        I will show if your cookie is saved
      </p>
    </ng-container>

    <p *ngIf="isCookieContentShowed"> {{cookieObject}}</p>

    <ng-template #notSavedContent>
      <p style="color: red;"> No cookie has been saved, please click the save
        button </p>
    </ng-template>
    <button style=" border: 1px solid black; padding: 10px 15px;" (click)="saveCookie()"> Save Cookie </button>
    <br>
    <br>
    <button style=" border: 1px solid black; padding: 10px 15px;" (click)="showCookieContent()"> Show Cookie
      Content</button>
    <br>
    <br>
    <button style=" border: 1px solid black; padding: 10px 15px;" (click)="deleteCookie()"> Delete Cookie </button>
  </section>

  <hr>
  <section>
    <h4> New Tab View Links</h4>
    <a href="https://css-test.idfyed.com/" target="_blank"> Secured: Idfyed CSS</a>
    <br>
    <br>
    <a href="http://go.com/" target="_blank"> Unsecured : Go.com</a>
  </section>

  <section>
    <h4> Same Tab View Links</h4>
    <a href="https://css-test.idfyed.com/"> Secured: Idfyed CSS</a>
    <br>
    <br>
    <a href="http://go.com/"> Unsecured : Go.com</a>
  </section>
</div>